*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    max-width: 1000px;
    margin:40px auto;     
}
.menu ul{
    list-style: none;
}
.menu-list{
    display: flex;

}
.menu-list-item{
    flex-grow:1;
}

.menu a{
    display:block;
    background-color: aqua;
    text-align: center;
    padding: 10px 0;
    color:#333;
}
.menu a:hover{
    background-color: pink;
}
.menu a:hover{
    outline:3px solid blue;
}
.desplegable{
    position:relative;
}
.submenu{
    display: none;
    position: absolute;
    width: 100%;
}
/* 
el simbolo de + indica que busque en elementos hermanos al html que se encuentre en el mismo nivel
en este caso el tag <a> se encuentra en el mismo nivel que en el tag <ul>  
*/ 

/* 
.desplegable:hover +.submenu, 
.desplegable:focus +.submenu{ 
    
    display: block;

} 
*/

.desplegable:hover .submenu, 
.desplegable:focus-within .submenu{ 
    /* border:2px solid red; */
    display: block;
    
}



