
body{
    max-width: 1000px;
    margin:0 auto;
}

.ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.li a{
    display: block;
    padding: 10px;
    text-transform: uppercase;
    list-style-type: none;
    color: rgba(123,123,123);
    
}
.li a:hover{
    color:rgba(255,255,255);
    transition: color 200ms ease-in-out;
}


.cards{
    display: flex;
}
.card{
    width:200px;
    height: 300px;
    background: lightblue;
    margin: 20px;
}
.card:hover{
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.5);
    transition: box-shadow 200ms ease-in-out;
}

.wrapper{
    display: flex;
    align-items: center;
    align-content: center;
}

.box{
    width: 100px;
    height: 100px;
    background: rgba(255,0,0,0.5);
    margin:10px;
    transition: transform 600ms ease-in-out;
}

.box:hover{
    /* transform: translate(20px, -20px); 
    Esta sirve para arriva y abajo
    Las otras dos solo para un lado
    */
    /* transform: translateX(20px);
    transform: translateY(-20px);
    transform: translateY(-20px) translateX(20px) ;
    transform: rotate(180deg); */
}


.transform1{
    transition: transform 600ms ease;
}
.transform1:hover{
    transform: translate(20px,20px);
}
.transform2{
    transition: transform 1s linear; /* cubic-bezier(0, 0.68, 0, 2.42)  */
}

.transform2:hover{
    transform: scale(1.5);
}
.transform3{
    
}
.transform3:hover{
    transform: rotate(45deg);
}



.overflow-wrapper{
    width: 70px;
    height: 70px;
    background-color: aquamarine;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.5);
}



.overflow-child-wrapper{
    width: 570px;
    height: 270px;
    background-color: aquamarine;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.5);
    
}
.overflow-child{
    width: 100%;
    height: 100%;
    background-image: url('https://resources.premierleague.com/photos/2019/05/09/b32b7c5e-6c2f-4c3f-8d5e-19e6c5df4bb2/hazard-auba-che-ars-uel-final.png?width=930&height=620');
    background-size: cover;
    transition: transform 600ms ease;

}
.overflow-child:hover{
    transform:scale(1.5);
}

.asd{
    width: 570px;
    height: 270px;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
    transition: transform 600ms ease;
}
.asd img:hover{
    transform:scale(1.5);
}