:root{
    --rojo:#991212;
}

body{
    background-color: var(--rojo);
}
h1{
    background-color: white;
    color: var(--rojo);
}

@media (max-width:1000px){
    :root{
        --rojo:gold;
    }
}
